* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 900px;
    height: 550px;
    background: white;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    box-shadow: 0 20px 60px rgba(0,0,0,0.2);
}

/* LEFT SIDE */
.left {
    flex: 1;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.left span {
    color: #d62976;
}

.left p {
    color: #555;
    font-size: 16px;
}

/* RIGHT SIDE */
.right {
    flex: 1;
    background: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 320px;
    background: white;
    padding: 40px 30px;
    border-radius: 16px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.08);
    text-align: center;
}

.logo {
    font-size: 28px;
    margin-bottom: 25px;
    color: #d62976;
}

/* INPUTS */
.login-card input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
    background: #fafafa;
}

.login-card input:focus {
    outline: none;
    border-color: #d62976;
    background: white;
}

/* LOGIN BUTTON */
.login-btn {
    width: 100%;
    padding: 12px;
    background: #d62976;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5px;
    transition: 0.2s;
}

.login-btn:hover {
    background: #b61f63;
}

.forgot {
    display: block;
    margin-top: 12px;
    font-size: 13px;
    color: #385185;
    text-decoration: none;
}

/* DIVIDER */
.divider {
    margin: 20px 0;
    font-size: 13px;
    color: #999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider span {
    flex: 1;
    height: 1px;
    background: #ddd;
    margin: 0 10px;
}

/* GOOGLE BUTTON */
.google-btn {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background: white;
    cursor: pointer;
    font-size: 14px;
}

.signup-text {
    margin-top: 20px;
    font-size: 14px;
}

.signup-text a {
    color: #d62976;
    text-decoration: none;
    font-weight: bold;
}
